@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --blue-grey: rgb(169, 175, 178);
    --dark-grey: rgb(57, 64, 71);
    --dark-grey-transparent: rgba(57, 64, 71, 0.7);
    --accent: rgb(255, 213, 29);
    --black: black;
    --white: white;
    --shadow: rgb(46, 46, 46);
    --error: rgb(245, 34, 34);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

p {
    padding: 0.5rem 0;
    color: var(--white);
}

.side-hero {
    height: 100vh;
    width: 35vw;
    position: relative;
    background: url("images/porsche_banner_dima_panyukov.jpeg");
    background-position: center;
    background-size: cover;
}

header {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-grey-transparent);
    padding: 1rem 0;
}

header img {
    height: 4rem;
}

header p {
    font-size: 3rem;
    font-weight: bolder;
}

footer {
    position: absolute;
    bottom: 0;
    right: 5px;
}


footer p {
    font-size: 0.8rem;
}

main {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-grey);
}

.info-container,
.submit-container {
    height: 30vh;
}

.info-container {
    position: relative;
}

.info-container div {
    position: absolute;
    bottom: 0;
    padding: 1rem 5vw;
}

.info-container p {
    font-size: 1.2rem;
}

.input-container {
    height: 45vh;
    width: 100%;
    background: var(--blue-grey);  
    box-shadow: 0 5px 5px var(--shadow);
}

.input-container > div {
    padding: 2rem 3vw;
}

.input-container p {
    color: var(--black);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 15rem;
    gap: 5px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--dark-grey);
    padding: 5px;
    border-radius: 5px;
}

input {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    padding: 5px;
    border-color: var(--dark-grey);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid var(--accent);
}

label {
    font-size: 0.9rem;
}

.error {
    font-size: 0.7rem;
    color: var(--error);
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-container div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 5vw;
}

button {
    color: var(--black);
    font-size: 1.5rem;
    background-color: var(--accent);
    padding: 5px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 5px 5px 1px var(--shadow);
}

button:hover {
    cursor: pointer;
}

a {
    color: var(--accent);
}

button:active,
a:active {
    filter: brightness(85%);
}



@media  screen and (max-width: 960px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .side-hero {
        position: static;
        height: 40vh;
        width: 100vw;
    }

    .side-hero header {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
    
    header img {
        height: 3rem;
    }
    
    header p {
        font-size: 2rem;
    }

    footer {
        bottom: 60vh;
    }

    main {
        height: auto;
        width: 100vw;
    }

    .info-container,
    .input-container,
    .submit-container  {
        position: static;
        height: auto;
        overflow: auto;
    }

    .info-container div {
        position: static;
    }

    .input {
        width: 13rem;
    }

}